@import '../../styles/shared';

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $color-primary;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.header {
  font-size: calc(10px + 2vmin);
  color: $white;

  h1 {
    font-weight: 800;
  }

  p {
    font-weight: 300;
  }
}

.link {
  font-weight: 400;
  position: relative;
  color: $white;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    opacity: 0;
  }

  &:hover {
    color: $white;
    text-decoration: none;

    &::before {
      visibility: visible;
      transform: scaleX(1);
      opacity: 1;
    }
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
